extends layout

block content
  header
    a(href="http://mailtrig.ru", class="b-logo", target="_blank") Mailtrig
    nav
      ul
        li
          a(href="#", target="_blank") В магазин
        li
          a(href="http://mailtrig.ru", target="_blank") O MailTrig
        li
          a(href="http://mailtrig.ru/signin", target="_blank") Личный кабинет
  section
    div.b-dashboard
      p.b-annot.b-annot-right СЕРВИС
      i.b-arrow.b-arrow-right