extends layout

block content
  header
    a(href="http://mailtrig.ru", class="b-logo", target="_blank") Mailtrig
    nav
      ul
        li
          a(href="#", target="_blank") В магазин
        li
          a(href="http://mailtrig.ru", target="_blank") O MailTrig
        li
          a(href="http://mailtrig.ru/signin", target="_blank") Личный кабинет
  section
    div.b-dashboard
      p.b-annot.b-annot-right СЕРВИС
      div.b-turn-on-or-off.b-turn-off
        div.b-turn-slide
        p.b-text-on ВКЛЮЧЕН
        p.b-text-off ВЫКЛЮЧЕН
      i.b-arrow.b-arrow-right
      h2.b-name Название магазина
      p.b-name-mag &#132;Ромашка&#147;
      h2.b-adm Администратор магазина
      p.b-adm-name Иванов Сергей Иванович
      p.b-adm-phone +7 (900) 800 00 00
      p.b-adm-email e-mail@e-mail.ru
      p.b-app.b-app-off Приложение установлено