extends layout

block content
  header
    a(href="http://mailtrig.ru", class="b-logo", target="_blank") Mailtrig
  section
    div.b-yes-or-no
      p.b-annot.b-annot-left Есть ли<br />у Вас<br />аккаунт<br />в MailTrig?
      a.b-button-yes-or-no.b-yes(href="/login") ДА
      a.b-button-yes-or-no.b-no(href="/registration") НЕТ
      i.b-arrow.b-arrow-left
