doctype html
html
  head
    meta(charset="utf-8")
    title= title
    script(src='/js/jquery.js')
    script(src='/js/jquery.form.js')
    script(src='/js/jquery.validate.js')
    script(src='/js/additional-methods.js')
    script(src='/js/script.js')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif&subset=latin,cyrillic')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/styles.css')
  body
    block content