html,body
  height 100%
html
  font-family "Myriad Pro", "PT Sans", arial, helvetica, sans-serif
  color #FFF
  font-size 18px
  font-weight bold
a
  color #FFF
  text-decoration none
body
  background-color #00B572
header
  height 85px
  position relative
.b-logo
  display block
  width 199px
  height 85px
  text-indent -9999px
  background url(/img/logo.png) 0px 0px no-repeat
  position absolute
  top 0px
  left 28px
header nav ul
  list-style none
  position absolute
  right 30px
  top 8px
header nav ul li
  float left
  padding-left 40px
.b-yes-or-no
  width 380px
  height 165px
  margin-left -120px
  margin-top -82px
  border-radius 4px
  background-color #ECF0F1
  position absolute
  left 50%
  top 50%
.b-dashboard
  width 380px
  height 329px
  margin-left -250px
  margin-top -164px
  border-radius 4px
  background-color #ECF0F1
  position absolute
  left 50%
  top 50%
.b-annot
  width 300px
  font-family "PT Serif", serif
  font-size 46px
  line-height 55px
  margin 0px
  position absolute
  top 0px
.b-annot-left
  text-align right
  left -325px
.b-annot-right
  text-align left
  right -325px
.b-button-yes-or-no
  display block
  width 321px
  height 35px
  margin-left -160px
  padding-top 13px
  border-radius 5px
  text-align center
  position absolute
  left 50%
.b-yes
  background-color #00B472
  top 30px
.b-no
  background-color #33495F
  top 91px
.b-arrow
  display block
  width 13px
  height 25px
  position absolute
  top 35px
.b-arrow-left
  background url(/img/arrow-l.png) 0px 0px no-repeat
  left -13px
.b-arrow-right
  background url(/img/arrow-r.png) 0px 0px no-repeat
  right -13px
.b-turn-on-or-off
  width 262px
  height 51px
  border #ECF0F1 2px solid
  border-radius 7px
  position absolute
  top 78px
  right -292px
.b-turn-on-or-off:hover
  cursor pointer
.b-turn-off
  background-color #FFF
.b-turn-slide
  width 131px
  height 51px
  position absolute
  top -1px
.b-turn-on .b-turn-slide
  background-color #FFF
  border #FFF 1px solid
  border-radius 7px
  right -1px
.b-turn-off .b-turn-slide
  background-color #33495F
  border #33495F 1px solid
  border-radius 7px
  left -1px
.b-text-on
  color #FFF
  font-size 18px
  font-weight bold
  position absolute
  top -2px
  left 23px
.b-text-off
  color #34495E
  font-size 18px
  font-weight bold
  position absolute
  top -2px
  right 15px
.b-turn-on .b-text-off
  display none
.b-turn-off .b-text-on
  display none