html,body
  height 100%
html
  font-family "Myriad Pro", "PT Sans", arial, helvetica, sans-serif
  color #FFF
  font-size 18px
  font-weight bold
a
  color #FFF
  text-decoration none
body
  background-color #00B572
header
  height 85px
  position relative
input
  outline none
.b-logo
  display block
  width 199px
  height 85px
  text-indent -9999px
  background url(/img/logo.png) 0px 0px no-repeat
  position absolute
  top 0px
  left 28px
header nav ul
  list-style none
  position absolute
  right 30px
  top 8px
header nav ul li
  float left
  padding-left 40px
.b-yes-or-no
  width 380px
  height 165px
  margin-left -120px
  margin-top -82px
  border-radius 4px
  background-color #ECF0F1
  position absolute
  left 50%
  top 50%
.b-dashboard
  width 320px
  margin-left -250px
  margin-top -164px
  padding 30px
  min-height 200px
  border-radius 4px
  background-color #ECF0F1
  position absolute
  left 50%
  top 50%
.b-annot
  width 300px
  font-family "PT Serif", serif
  font-size 46px
  line-height 55px
  margin 0px
  position absolute
  top 0px
.b-annot-left
  text-align right
  left -325px
.b-annot-right
  text-align left
  right -325px
.b-button-yes-or-no
  display block
  width 321px
  height 35px
  margin-left -160px
  padding-top 13px
  border-radius 5px
  text-align center
  position absolute
  left 50%
.b-yes
  background-color #00B472
  top 30px
.b-no
  background-color #33495F
  top 91px
.b-arrow
  display block
  width 13px
  height 25px
  position absolute
  top 35px
.b-arrow-left
  background url(/img/arrow-l.png) 0px 0px no-repeat
  left -13px
.b-arrow-right
  background url(/img/arrow-r.png) 0px 0px no-repeat
  right -13px
.b-turn-on-or-off
  width 262px
  height 51px
  border #ECF0F1 2px solid
  border-radius 7px
  position absolute
  top 78px
  right -292px
.b-turn-on-or-off:hover
  cursor pointer
.b-turn-off
  background-color #FFF
.b-turn-slide
  width 131px
  height 51px
  position absolute
  top -1px
.b-turn-on .b-turn-slide
  background-color #FFF
  border #FFF 1px solid
  border-radius 7px
  right -1px
.b-turn-off .b-turn-slide
  background-color #33495F
  border #33495F 1px solid
  border-radius 7px
  left -1px
.b-text-on
  color #FFF
  font-size 18px
  font-weight bold
  position absolute
  top -2px
  left 23px
.b-text-off
  color #34495E
  font-size 18px
  font-weight bold
  position absolute
  top -2px
  right 15px
.b-turn-on .b-text-off
  display none
.b-turn-off .b-text-on
  display none
.b-name, .b-adm
  font-size 18px
  color #34495E
  font-weight bold
  margin 0px
.b-name-mag, .b-adm-name, .b-adm-phone, .b-adm-email
  color #7F8C8D
  font-size 18px
  font-weight normal
  margin 0px
  margin-bottom 15px
.b-app
  display block
  font-size 18px
  font-weight bold
  margin 0px
  padding-left 25px
.b-app-on
  color #15B374
  background url(/img/app-on.png) 0px 0px no-repeat
.b-app-off
  color #7F8C8D
  background url(/img/app-off.png) 0px 0px no-repeat
.b-registration
  width 320px
  margin-left -120px
  margin-top -82px
  border-radius 4px
  background-color #ECF0F1
  min-height 200px
  padding 30px
  position absolute
  left 50%
  top 50%
.b-reg fieldset
  border none
  padding 0px
  margin 0px
.b-reg-l, .b-remember-l, .b-login-l
  width 319px
  height 32px
  background-color #FFF
  border-radius 4px
  margin-bottom 18px
  position relative
.b-reg-input
  color #BDC3C7
  font-weight normal
  text-align right
  display block
  width 290px
  height 27px
  border none
  opacity 0
  position absolute
  top 0px
  right 12px
  z-index 110
.b-reg-input:focus
  opacity 1 !important
.b-reg-i, .b-remember-i, .b-login-i
  color #BDC3C7
  font-size 16px
  font-family "PT Serif", serif
  font-weight normal
  text-align right
  padding 0px
  padding-left 22px
  margin 0px
  position absolute
  top 4px
  right 12px
  z-index 100
.i-home
  background url(/img/icon_home.png) no-repeat 0px 4px
.i-man
  background url(/img/icon_man.png) no-repeat 0px 4px
.i-phone
  background url(/img/icon_phone.png) no-repeat 0px 4px
.i-email
  background url(/img/icon_mail.png) no-repeat 0px 6px
.i-heart
  background url(/img/icon_heart.png) no-repeat 0px 5px
.b-reg-p
  display block
  font-weight bold
  color #7F8C8D
  font-size 16px
  text-align center
  margin-bottom 11px
.b-reg-submit
  width 319px
  height 47px
  background-color #00B472
  border none
.b-partner
  display none
.g-danger
  border 1px #FF0000 solid
.g-success
  border 1px #00B472 solid
label.g-danger
  display none !important
.b-remember, .b-login
  width 320px
  margin-left -120px
  margin-top -82px
  border-radius 4px
  background-color #ECF0F1
  padding 30px
  position absolute
  left 50%
  top 50%
#remember fieldset, #login fieldset
  padding 0px
  margin 0px
  border 0px
.b-remember-l, .b-login-l
  height 43px
  background url(/img/icon_man.png) no-repeat 290px 15px
  background-color #FFF
  border-border 5px
.b-remember-i, .b-login-i
  color #BDC3C7
  font-weight normal
  text-align right
  display block
  width 250px
  height 27px
  margin 3px 23px 0px 0px
  border none
.b-button-remember, .b-button-login
  display block
  width 320px
  height 48px
  background-color #00B472
  border none
  border-radius 5px
  text-align center
.b-link-remember
  display block
  font-weight bold
  color #7F8C8D
  font-size 16px
  margin-left 20px
  padding-top 30px
.i-lock
  background url(/img/icon_lock.png) no-repeat 291px 13px
  background-color #FFF
#errorModal
  display none
  color #7f8c8d
  background-color #ecf0f1
  padding 30px
  border-radius 4px